.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* 1 */
.PopUp1{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.70);
}

.conteudo{
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.conteudo input{
    width: 200px;
    margin: 10px;
}

.conteudo button{
    width: 50px;
}

/* -------------------- */
/* 2 */
#botaoSim{
    background-color: red;
    color: white;
    border: none;
    border-radius: 360px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#botaoNao{
    background-color: #CBD5DF;
    border: none;
    border-radius: 360px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

.botoes{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
/* ---------------------------------------- */

/* 3 */
#img{
    width: 200px;
}

#imgAtiva{
    width: 500px;
}
/* -------------------------- */

/* 4 */
#fechar{
    width: 30px;
    height: 30px;
    border-radius: 360px;
    background-color: red;
    color: white;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

/* 5 */
#tenteNovamente{
    width: 90px;
    border-radius: 12px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}